{% extends 'base/base.html' %}

{% block title %}
  List view Class Base
{% endblock title %}

{% block content %}
  {% load myfilter %}
  <div class="col-md-12">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Họ</th>
            <th scope="col">Email</th>
            <th scope="col"><a href="{% url 'insert_reporter'%}"><i class="bi bi-plus-square"></i></a></th>
          </tr>
        </thead>
        <tbody>
            {% for reporter in all_reporters %}
                <tr>
                    <th scope="row">{{ page_obj.number|make_index_table:forloop.counter }}</th>
                    <td>{{ reporter.first_name }}</td>
                    <td>{{ reporter.last_name }}</td>
                    <td>{{ reporter.email }}</td>
                    <td>
                        <a href="{% url 'view_reporter' pk=reporter.id %}"><i class="bi bi-eye"></i></a> 
                        | 
                        <a href="{% url 'edit_reporter' pk=reporter.id %}"><i class="bi bi-pencil"></i> </a>
                        | 
                        <a style="cursor: pointer;" class="remove-btn" data-id="{{ reporter.id }}" data-url="{% url 'remove_reporter' pk=reporter.id %}" ><i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
          </tr>
        </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <form id="remove_form" action="" method="post">
      {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Remove</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Tên: <span id="first_name_delete"></span></p>
            <p>Họ: <span id="last_name_delete"></span></p>
            <p>Email: <span id="email_delete"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script>
    $(".remove-btn").each(function(){
      $(this).click(function () {
        var remove_url = $(this).data("url");
        $('#remove_form').attr('action', remove_url);
        $("#first_name_delete").text($(this).parent().parent().children('td').eq(0).text());
        $("#last_name_delete").text($(this).parent().parent().children('td').eq(1).text());
        $("#email_delete").text($(this).parent().parent().children('td').eq(2).text());
        $('#deleteModal').modal('show');
      });
    });
  </script>
{% endblock content %}